
.slide-track_technical{
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slide-track_technical img{
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;
}

.slider_technical {
  background-color:#fff;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}